
.donde{
@extend .d-flex;    
    width: 80%;
    margin: 0  2% ;
    &h2{

     margin:3% 0;
    }
       img{

        object-fit: cover;
        width: 400px;
        height: 400px;
        
        }
       iframe{
        width: 400px;
        height: 400px;
    }

    }

