.grilla{
    margin: 0 10%;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
     grid-template-areas: 
     'area1 area1  none'
     'area2 area3  area7'
     ' area4 area5 area6';
     &__hijo{
         display:flex;
         flex-direction: column;
         justify-content: space-between;
         gap:10px;
         text-align: center;
         h3{
            font-size: 25px;
         }
      p{
         font-size: 20px;
      }
         &:hover h3,img{
             
             color: red;
             cursor:pointer;
 
         }
   
        
             img{
                 @include imagenes(100%,300px,cover);
           
             border-radius: 1%;
        
             }
             .grilla_hijo__fecha {
                 text-align: right;
             }
          
            }
    
.g1{
    
    grid-area: area1;
}
.g2{

    grid-area: area2;
  
}

.g3{
    grid-area:area3;
   
}
.g4{

    grid-area: area4;
  
}
.g5{

    grid-area: area5;
    
}
.g6{

    grid-area: area6;
}
 .g7{
    grid-area: area7;
    display: flex;
   justify-content: center;
    margin: 2px 5px;
    box-shadow: 0px 0px 1px 0px black;
h2{
    color:rgb(225, 30, 30);
    font-size: 25px;
}
h4{
    color:rgb(225, 30, 30);
}


& div{
    font-weight: 700;
    display: flex;
    box-shadow: 0px 0.5px 0px 0px black;
    margin: 3px;
    height: 15%;
    width: 80%;
    align-items: center;
    margin: 0 10%;
    gap:3px;
    p{
        font-size: 15px;
    }
  
    & p:hover{

    
       
            cursor: pointer;
            color:rgb(225, 30, 30);
    
    }

}


 }
   
    }


@media only screen and (max-width:1024px){
        
    .grilla{
        width: 90%;
        margin: 3%;
        padding: 1%;
        gap: 15px;
     
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(4,1fr);
grid-template-areas: 
'area1 area1 '
'area2 area3 '
'area4 area5'
'area6 area7'
;
        
    }
    h3{
        font-size: 25px;
    }
    .g7{
        p{
            font-size: 15px;
        }
    gap:12px;    
    }
  
    }
    @media only screen and (max-width:768px){
        .grilla{
            width: 100%;
            margin: 0;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(7,1fr);
             grid-template-areas: 
             'area1'
             'area2'
             ' area3'
             'area4'
             ' area5'
             ' area6'
             'area7'
             ;
             &__hijo{
                width: 100%;
                gap: 15px;
                img{
        
                    width: 100%;
                    height: 350px;
                }
                p{
                    font-size: 18px;
                }
             
             }
        }
    }
            
@media only screen and (max-width:480px){
.grilla{

    margin: 0;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(7,1fr);
     grid-template-areas: 
     'area1'
     'area2'
     ' area3'
     'area4'
     ' area5'
     ' area6'
     'area7'
     ;
     &__hijo{
        width: 100%;
        gap: 5px;
        img{

 
            height: auto;
        }
        p{
            font-size: 17px;
        }
     }
}




}

