.navbar{
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;

  
  font-family: $font-principal;
  &-titulo{
    display: flex;
    background-color: $color-principal;
   justify-content:  center;
   align-items: center;
    color: white;
    text-align: center;
 
  height: 10%;
  & h2{
    font-size: 30px;
  font-family: $font-titulo;
  }
  }
   &-siguenos{
    display: flex;
    background-color: white;
    flex-grow:1;
    flex-basis:0;
    flex-direction: column;
   
    & a{
     text-decoration: none;
    }
    &-elementos{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
margin: 15px 5px;

gap:5px;
flex-grow: 1;
flex-basis: 0;
 

& a {
  color:$color-principal;
box-shadow: 0px 1px 0px 0px gold;
&:hover{
  filter:sepia(1)
}

}
    }
    &-logo{
      display: flex;
      justify-content: end;
      align-items: flex-end;
      flex-grow:1;
      flex-basis:0;
      gap: 10px;
    padding: 0;
      & p {
        font-size: 12px;
      
      }
      & img{
        width: 30px;
        height: 30px;
       border-radius: 50%;
      }
    }
   }

}
.offcanvas{
  background-color:  rgb(65, 65, 65);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link{
  color:white;
  &:hover{
color:gold;  }
}


.navbar-brand{

  color:white;
  font-size: 34px;
font-family: $font-titulo;

}
.navbar-brand:hover{
 
  color: white;

}
.container-fluid{
  background-color:$color-principal;
  
}
.nav-item{

font-size: 15px;
transition: 0.3s;


&:hover{

  font-size:18px;
  font-weight: bold;

}

}

