*{
    margin: 0;
    padding: 0;
    font-family: $font-principal;
    box-sizing: border-box;
}
.h1b{ 
    margin: 2%;
font-size: 19px;
font-family: $font-principal;
font-style: inherit;
color: rgb(15, 15, 15);

    
} 


hr {
    margin: 1%;
        height: 4px;
  
        width: 30%;
                background: linear-gradient(45deg,rgb(66, 63, 63),rgb(145, 31, 31),rgb(255, 0, 0) );
      }